header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    nav {
        display: grid;
        gap: .75rem;
        a {
            display: block;
            padding: .35rem 1rem;
        }
    }
}