@layer reset, base, components;
@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(base);
@import url('./variables.css') layer(base);
@import url('./components/grid.css') layer(base);
@import url('./typography.css') layer(base);
@import url('./components/nav.css') layer(base);
@import url('./components/footer.css') layer(base);
@import url('./components/buttons.css') layer(components);
@import url('./home/hero.css') layer(components);
@import url('./home/theLoop.css') layer(components);
@import url('./components/theShelf.css') layer(components);
@import url('./components/thanks.css') layer(components);
@import url('./pages/work-item.css') layer(components);
@import url('./components/polaroids.css') layer(components);

body {
    background-color: var(--palette-white);
    font-family: 'fujiwara', 'helvetica', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

