* {
    --palette-green: darkslategrey;
    --palette-orange: orange;
    --palette-grey: slategrey;
    --palette-white: ghostwhite;
    --palette-lavender: lavender;
    --palette-beige: beige;
    --palette-black: #222222;
}
