footer section {
    background-color: var(--palette-black);
    color: var(--palette-green);
    position: relative;
    padding-top: 2rem;
    overflow: hidden;
    .footer-name {
        position: absolute;
        bottom: -2.25rem;
        z-index: 1;
        width: 100%;
        overflow: hidden;
        font-size: 4.5rem;
        font-weight: bold;
        letter-spacing: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    ul {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem;
        padding-left:1rem;
        padding-right: 1rem;
        margin: 0 auto;
        li {
            a {
                display: inline-block;
                width: 100px;
                text-align: center;
            }
        }
    }
    .copyright {
        position: relative;
        z-index: 2;
        color:white;
        text-align: center;
        font-size: .75rem;
        padding-bottom:.25rem;
        margin-top:.5rem;
    }
}

@media only screen and (min-width: 800px) {
    footer section {
        padding-top: 4rem;
        .footer-name {
            bottom: -.75rem;
            height: 100%;
            text-wrap: nowrap;
            font-size: 8rem;
        }
        ul {
            flex-direction: row;
            justify-content: space-between;
            width: 50%;
        }
        .copyright {
            font-size: .8rem;
            padding-right: .5rem;
            padding-bottom: .5rem;
        }
    }
}