/*
    CONTENTS
    ==============
    1. accessible menu
    2. Site nav
    3. Main section nav
*/

/* Mobile menu */
#skip .a11y-menu {
    display: block;
    position:absolute;
    left: -999px;
    top:-999px;
    padding: 1rem;
    z-index:100;
    text-align: center;
    font-weight: bold;
    background-color: hotpink;
    color: white;
    &:focus {
        left: 0;
        top: 0;
        border: 1px solid #990000;
        background-color: #ffc;
    }
}

/* Site nav */
body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    nav[popover] {
        transform: translate3d(100%, 0, 0);
        transition: transform 300ms ease-in-out,
                    display 300ms allow-discrete,
                    overlay 300ms allow-discrete;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 80vw;
        padding: 1rem;
        margin: 0 0 0 auto;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;

        @media screen and (max-width: 600px) {
            &:popover-open {
                transform: translate3d(0, 0, 0);
                @starting-style {
                    transform: translate3d(100%, 0, 0);
                }

                &::backdrop {
                    background-image: radial-gradient(
                            circle,
                            white 0 5vw,
                            transparent 5vw 20vw,
                            white 20vw 22.5vw,
                            #eeeeee 22.5vw
                    ),
                    conic-gradient(
                            #272b66 0 50grad,
                            #2d559f 50grad 100grad,
                            #9ac147 100grad 150grad,
                            #639b47 150grad 200grad,
                            #e1e23b 200grad 250grad,
                            #f7941e 250grad 300grad,
                            #662a6c 300grad 350grad,
                            #9a1d34 350grad 400grad,
                            #43a1cd 100grad 150grad,
                            #ba3e2e
                    );
                    animation: rot 1s forwards;
                }
            }
        }

            .menu-inner {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                .nav-meta {
                    display: flex;
                    margin-top: auto;

                    span {
                        line-height: 1;

                        &:last-child {
                            text-align: right;
                        }
                    }
                }
            }
    }
}
@keyframes rot {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}


/* Desktop styles - not scoped within a media query as displaying in regular way, no need to unset the above. */
@media screen and (min-width: 768px) {
    body > header {
        position: static;
        height: auto;
        background-color: #272b66;
        padding: 0 0 0 1rem;
        margin-bottom: 2rem;

        .menu-control-open, .menu-control-close {
            display: none;
        }

        nav[popover] {
            /* Unset mobile rules */
            popover: none;
            position: static;
            display: block;
            height: auto;
            transform: none;
            padding: 0;

            div.menu-inner {
                display: flex;
            }

            ul {
                display: flex;
                justify-content: end;
                font-size: 1rem;

                /* Make sure everything is pushed to the right edge */
                margin-left: auto;
                a {
                    display: block;
                    padding: 0.75rem;
                }
            }
        }

        .nav-meta {
            display: none;
            position: absolute;
            box-sizing: border-box;
            left: 0;
            bottom: 2rem;
            display: flex;
            width: 100%;
            padding: 0 1rem;
            justify-content: space-between;
            span:first-child {
                left: 2rem;
            }
            span:last-child {
                right: 2rem;
            }
        }
    }
}

/* In-page contents nav */
article nav {
    background-color: ivory;
    border-radius: 15px;
    padding: 1rem;
    @media screen and (max-width: 600px) {
        box-sizing: border-box;
        display: block;
        padding: 1rem;
        line-height: 1.5rem;

        /*
        Include this for pinned support
        &.contents:not(.is-pinned) {
            height: 3rem;

            h3 {
                margin-bottom:1rem;
            }
        }
        */
    }

    h3, ol li {
        line-height: 125%;
        margin-bottom: .25rem;
        font-size: 1rem;
    }

    ol {
        list-style: decimal;
        padding-left: 1rem;
        li {
            padding-left: .25rem;
        }
    }

    &.active {
        a {
            font-weight: bold;
        }
    }

    @media screen and (min-width: 780px) {
        position: sticky;
        top: 8rem;
        width: 200px;
        margin-top: -20.9rem;
        margin-bottom: 17rem;
        h3, ol li {
            margin-bottom: .55rem;
        }
    }

    @media screen and (min-width: 968px) {
        position: sticky;
        top: 12.7rem;
        width: 200px;
        margin-top: -22.5rem;
        margin-bottom: 17rem;
    }
}