.polaroids {
    position: relative;
    left: 42.8%;
    right: 50%;
    display: flex;
    overflow: scroll visible;
    width: calc(100% + (100vw - 100%));

    /* Prevent horizontal scrollbars from appearing on the entire <body> */
    max-width: 100vw;
    padding: 2rem 0 2rem max(1.5rem, calc((100vw - 800px) / 2));
    margin: 2rem -50vw;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    img {
        flex-shrink: 0;
        background-color: white;
        padding: 1rem 1rem 4rem;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.04);

        &:nth-child(odd) {
            transform: rotate3d(0, 0, 1, 4deg);
        }

        &:nth-child(even) {
            transform: rotate3d(0, 0, 1, -4deg);
        }

    }

}.polaroids::after {
     content: '';
     /* Fills the remaining space to the right screen edge */
     padding-right: max(2rem, calc(50vw - 50%));
     flex-shrink: 0;
 }