.thanks {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    p {
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 900px) {
    .thanks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: clamp(100px, 15%, 245px);
        }
        p {
            margin-left: 4rem;
            font-size: 1.75rem;
        }
    }
}